# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.config
.timestart
.timeend

# Salidas de reproducir/
exe/rep/

# LaTeX
docs/introduccion/*.aux
docs/introduccion/*.log
docs/introduccion/*.fls
docs/introduccion/*.fdb_latexmk
docs/introduccion/*.toc
docs/introduccion/*.out
